@font-face {
    font-family: ralewaylight;
    src: url("/fonts/RalewayLight.ttf");
}

@font-face {
    font-family: helvetican;
    src: url("/fonts/HelveticaNeueCyrLight.ttf");
}

body {
    height: 100%;
    position: relative;
}

h2 {
    font-family: helvetican, serif;
    color: #353535;
}

h1 {
    margin-bottom: 20px;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1000;
    /*background-color: #f0f0f0;*/
    background-color: white;
}

.background__inner {
    height: 100%;
    width: 300px;

    background-size: contain;
    background-repeat: repeat-y;
}


.background__inner--left {
    /*background-image: url('/img/back_left.png');*/
    float: left;
}

.background__inner--right {
    /*background-image: url('/img/back_right.png');*/
    float: right;
}


.wrapper {
    height: 100%;
    min-width: 500px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.6);
    overflow: hidden;
    /*background-color: white;*/
}

.body {
    /*min-height: 650px;*/
    min-height: calc(100vh - 300px);
    height: 100%;
}

header {
    z-index: 100;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.nav-title {
    font-size: 26px;
    color: white;
    font-family: ralewaylight, serif;
}

.nav-top {
    background-color: #fff;
    height: 30px;
    display: flex;
    justify-content: center;
}

.nav-top__item {
    padding: 10px 12px;
    color: #0f597d;
    transition: 0.2s;
}

.nav-top > a {
    text-decoration: none;
}

.nav-top__item:hover {
    color: #59a4d8;
}

.nav-middle {
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-middle--color {
    color: #59a4d8;
}

.nav-middle__logo > a {
    text-decoration: none !important;
}

.nav-middle__logo > a > h2 {
    color: #3c3c3c;
    font-size: 32px;
    font-family: ralewaylight, serif;
    margin-top: 5px;
    margin-right: 30px;
}

.nav-middle__info > p {
    margin: 0 5px;
    padding: 4px 10px;
    border-radius: 5px;
}

.nav-middle__info--discount > p {
    background-color: #CC3333;
    color: white;
}

.nav-middle__info--exchange > p {
    background-color: #FFEB3B;
    color: #232323;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59a4d8;
}

.nav-buttons__item {
    padding: 10px 20px;
    transition: 0.3s;
    box-sizing: border-box;
}

.nav-buttons__item:hover {
    box-shadow: 0 0 5px 2px #3979a5;
}

.nav-button__item--selected {
    box-shadow: 0 0 5px 2px #3979a5;
}

.nav-buttons > a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: helvetican, serif;
}

.nav-buttons > a:hover {
    color: yellow;
    text-decoration: none;
}

.nav-buttons__item--search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb {
    background-color: white;
    min-width: 500px;
    max-width: 1100px;
    margin: 5px auto -5px auto;
}

/* CART TOP */
.cart-top {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1000;
    opacity: 0.3;
    transition: 0.3s;
}

.cart-top:hover {
    opacity: 1;
}

.cart-top__block {
    display: inline-block;
    padding-left: 15px;
    background-color: rgba(169, 169, 169, 0.7);
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
}

.cart-top__icon {
    background-color: #3e93e3;
    padding: 7px;
    border-radius: 100%;
    color: white;
}

/* SCROLL TOP */

.scroll-top {
    z-index: 99;
    position: fixed;
    right: 50px;
    top: 60px;
}

.scroll-top__button {
    text-decoration: none !important;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}

.scroll-top__button:hover {
    color: #369aea;
    opacity: 1;
}

/* NOVELTY */

.novelty-background {
    background-color: #59a4d8;
    padding: 20px 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: relative;
}

.novelty-parent {
    margin: 0 auto;
    min-width: 500px;
    max-width: 1200px;
    display: flex;
    height: 430px;
    padding: 0 5px;
}

.novelty {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.novelty-title {
    font-family: helvetican, serif;
    font-size: 24px;
    text-align: center;
    color: white;
}

.novelty-all {
    font-family: helvetican, serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.novelty-all > a {
    color: white;
}

.novelty-items {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.novelty-item {
    flex: 1 1 220px;
    max-width: 300px;
    margin: 10px 5px;
    height: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px -1px rgb(58, 94, 119);
}

.novelty-item > a {
    text-decoration: none;
}

.novelty-item__image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.novelty-item__state {

}

.novelty-item__name {
    font-weight: bold;
    color: #36474f;
    text-align: center;
    transition: 0.3s;
    font-family: helvetican, serif;
    margin-top: 3px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.novelty-item:hover .novelty-item__name {
    color: #e90012;
}

.novelty-item__price {
    color: #c98751;
    font-weight: bold;
    text-align: center;
    font-family: ralewaylight, serif;
    margin-bottom: 3px;
    transition: 0.3s;
    font-size: 15px;
}

.novelty-item:hover .novelty-item__price {
    font-size: 15px;
}

.novelty-fader {
    height: 44px;
    background-image: url('/img/fader.png');
    background-repeat: repeat-x;
    background-color: #eeeeee;
    position: relative;
    z-index: 1;
}

/* HITS */

.hit-background {
    background-color: #eeeeee;
    padding: 20px 0;
}

.hit-parent {
    margin: 0 auto;
    min-width: 500px;
    max-width: 1200px;
    display: flex;
    height: 430px;
    padding: 0 5px;
}

.hit {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hit-title {
    font-family: helvetican, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.hit-all {
    font-family: helvetican, serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.hit-all > a {
    color: #252525;
}

.hit-items {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.hit-item {
    flex: 1 1 220px;
    max-width: 300px;
    margin: 10px 10px;
    height: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.25);
}

.hit-item > a {
    text-decoration: none;
}

.hit-item__image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.hit-item__state {

}

.hit-item__name {
    font-weight: bold;
    color: #36474f;
    transition: 0.3s;
    font-family: helvetican, serif;
    margin-top: 3px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
}

.hit-item:hover .hit-item__name {
    color: #005fda;
}

.hit-item__price {
    color: #000000;
    font-weight: bold;
    font-family: helvetican, serif;
    margin-bottom: 3px;
    transition: 0.3s;
    font-size: 15px;
    padding: 0 15px;
}

.hit-item:hover .hit-item__price {
    font-size: 15px;
}

/* SLIDER */

.slider-background {
    background-color: white;
    height: 100%;
}

.slider {
    max-width: 1200px;
    min-width: 500px;
    /*width: 100%;*/
    margin: 0 auto;
    margin-bottom: 0px !important;
}

.slider__image {
    width: 100%;
}

.slider__image:focus {outline:0 !important;}

.slider__image > a{outline:0 !important;}

.slick-dots {
    position: absolute;
    bottom: 10px;
}

.slick-prev {
    left: 15px;
    z-index: 10;
}

.slick-next {
    right: 15px;
    z-index: 10;
}

.slick-slider .slick-list {
    opacity: 0;
    position: absolute;
}
.slick-slider.slick-initialized {
    background: none;
}
.slick-slider.slick-initialized .slick-list {
    opacity: 1;
    position: relative;
    transition: opacity 0.2s ease-in;
}

.sort {
    display: flex;
}

.sort-item {
    padding: 0 10px;
}

.content-background {
    width: 100%;
    background-color: #ffefdb;
    border-top: 1px solid #e4d19d;
    border-bottom: 1px solid #e4d19d;
    text-align: center;
}

.content {
    margin: 0 auto;
    min-width: 500px;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.content-item {
    width: 360px;
    margin: 10px;
    box-shadow: 0px 0px 30px -2px rgba(167, 114, 77, 0.6);
    /*border: 1px solid #b7b2a9;*/
    text-align: left;
}

.content-item:hover > a {
    text-decoration: none;
}

.content-item__box {
    background-color: #e4e4e4;
    position: relative;
    height: 400px;
    color: black;
    overflow: hidden;
}

.content-item__box--submitable {
    cursor: pointer;
}

.content-item__background {
    transition: 1.7s;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content-item__background--zoom {
    transform: scale(1.07);
}

.content-item__text-box {
    background-color: rgba(255,255,255,0.55);
    width: 100%;
    bottom: 0;
    padding: 5px 12px;
    position: absolute;
    pointer-events: none;
}

.content-item__icon {
    padding: 10px 15px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    right: 0;
    z-index: 10;
    pointer-events: none;
}

.content-item__icon--zoom {
    opacity: 0.4;
}

.content-item__text {
    display: flex;
    flex-direction: column;
}

.content-item__text-brand {
    font-size: 17px;
    font-weight: bold;
    font-family: ralewaylight, serif;
    color: #802602;
}

.content-item__text-info {
    font-size: 24px;
    font-family: helvetican, serif;
    color: #151515;
}

.content-item__chars {
    /*height: 100px;*/
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-item__char {
    padding: 5px;
    height: 68px;
    width: 180px;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/

    overflow: hidden;
}

.content-item__char-name {
    color: lightslategray;
    font-size: 10px;
}

.content-item__char-value {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    font-family: ralewaylight, serif;
}

.mainpost-background {
    width: 100%;
}

.mainpost {
    margin: 0 auto;
    min-width: 500px;
    max-width: 1200px;
}

.mainpost-title {
    width: 100%;
    text-align: center;
    font-size: 26px;
}

.mainpost-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainpost-item {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.mainpost-items > a {
    transition: 0.3s;
}

.mainpost-items:hover > a {
    text-decoration: none;
}

.mainpost-item__image {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    border-bottom: none;
}

.mainpost-item__title {
    padding: 5px;
    /*flex-grow: 1;*/
    font-size: 16px;
    color: #1a2226;
    margin-left: 10px;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.news-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news-item {
    display: flex;

    /*height: 250px;*/
}

.news-item__image-box {
    min-width: 300px;
    min-height: 200px;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-item__image-link {
    flex-grow: 1;
}

.news-item__image {
    /*width: 100%;*/
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.news-descr {
    display: flex;
    flex-direction: column;
    /*background-color: #ffff00;*/
    flex-grow: 1;
    padding: 5px;
}

.news-descr__title {
    color: black;
    font-size: 18px;
}

.news-descr__info {

}

.news-descr__info-date {
    width: 100px;
    color: darkslategray;
    font-size: 14px;
}

.news-descr__info-views {
    color: darkslategray;
    font-size: 14px;
}

.news-descr__text {
    color: darkslategray;
    font-size: 14px;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.post-header {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.post-header__title {
    font-size: 28px;
    margin-bottom: 5px;
}

.post-header__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post-header__info-date {
    text-align: left;
}

.post-header__info-views {
    text-align: right;
}

.post-body {
    font-size: 18px;
}

.post-footer {

}

.button-disabled {
    opacity: 0.5;
}

/*PRODUCT HEADER*/

.product-header-background {

}

.product-header {
    min-width: 500px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.product-header__image {
    width: 40%;
    height: 400px;
    /*padding: 10px;*/
    position: relative;
}

.product-header__image-item{
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s;
}

.product-header__image-item--hidden {
    opacity: 0;
    pointer-events: none;
}

.product-header__info {
    width: 60%;
    height: 100%;
    padding: 10px;
}

.product-header__name {

}

.product-header__name > h1 {
    font-size: 28px;
    color: #6b6b6b;
}

.product-header__states {
    display: inline-block;
}

.product-header__states-item {
    margin-right: 5px;
}

.product-header__price-notify {
    display: inline-block;
    float: right;
}

.product-header__set {

}

.product-header__set-items {

}

.product-header__price {
    padding: 10px 0;
}

.product-header__order {

}

.product-header__order-my {

}

.product-header__order-kaspi {

}


/*PRODUCT MEDIA*/
.product-media-background {
    background-color: #eaeaea;
}

.product-media {
    min-width: 500px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.product-media__images-box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.product-media__image {
    max-height: 160px;
    max-width: 48%;
    /*margin: 0 1%;*/
    /*padding: 10px;*/
}

.product-media__video {
    width: 50%;
    padding-right: 15px;
    padding-bottom: 15px;
}

/*PRODUCT DESCRIPTION*/

.product-descr {

}

.product-descr__char {

}

/*PRODUCT CHARS*/

.product-chars-background {

}

.product-chars {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.product-chars__table {
    width: 100%;
    font-size: 18px;
}

.product-chars__name {

}

.product-chars__name-item {
    width: 30%;
    padding: 5px;
    /*background-color: red;*/
}

.product-chars__value {

}

.product-chars__value-item {
    padding: 5px;
    width: 70%;
    color: #444444;
    /*background-color: green;*/
}

.product-chars__row:nth-child(even) {background-color: #f2f2f2}

.product-chars__item {

}

 /* REVIEWS */
.reviews-background {
    background-color: #ffffff;
}

.reviews-content {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
}

.footer-background {
    padding: 5px 20px;
    background-color: #333333;
    color: white;
}

.footer {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

/* LISTVIEW LOADING */

.js-listview.loading {
    opacity: 0.5;
    transition: 0.5s;
}

.has-success .form-control {
    border-color: rgb(204, 204, 204) !important;
}

/* REVIEWER */

.reviewers-background {
    width: 100%;
    padding: 0 15px;
}

.reviewers {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer-image {

}

.reviewer-image > img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.reviewer-text {
    padding: 0 20px;
}

.cart-background {
    background-color: white;
    padding: 0 15px;
}

.cart {
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}