.catalog {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #FAFAFA;
    padding-bottom: 20px;
}

.product {
    background-color: white;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.3);
    margin: 10px 5px;

    width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-family: Calibri;
}

.product__header {
    margin-top: 15px;
}
.product__content {
    font-size: 22px;
}

.product__title {
    font-size: 22px;
    font-weight: bold;
    color: #555;
}
.product__marks {
    font-size: 12px;
}

.product__marks a {
    margin-left: 3px !important;
}

.product__image {
    width: 300px;
    height: 300px;
    background-image: url('../../../img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product__price {
    /*font-weight: bold;*/
    font-family: 'gotham pro black';
    font-size: 19px;
    margin: 10px 0px;
}

.product__buy {
    width: 241px;
    height: 58px;
    background-image: url('/images/podrob.png');

    background-color:#7892c2;
    display:inline-block;
    cursor:pointer;
    border-radius: 5px;

    text-shadow:0px 1px 0px #283966;
}
.product__buy:hover {

    background-image: url('/images/podrob2.png');
}
.product__buy:active {
    position:relative;
    top:1px;
}
